.container-fluid(STYLE="margin-top:700px")
    .row.text-light(style="background: url('https://appco.themetags.com/img/footer-bg.png')no-repeat center center / cover;height:350px;")
        h4.text-center.mb-5.mt-3 CodeWithSadiQ
            .row.mt-5 
                .col-3.mx-auto.my-auto
                    .fs-5 Quick link
                    .fw-light Home
                    .fw-light About
                    .fw-light Prohect
                    .fw-light Workshop
                    .fw-light Hire us
                .col-3.mx-auto.my-auto
                    .fs-5 About Class
                    .fw-light About Instructor
                    .fw-light MileStones
                    .fw-light Community
                    .fw-light Our Tea
                .col-3.mx-auto.my-auto 
                    .fs-5 Ramavtar Market, Near Dog Hospital
                    .fw-light Thana Chowk, Gandhinagar, Madhubani, Purnea - 854301
                    .fw-light +91 95 4680 5580
                    .fw-light www.codewithsadiq.com
        p.fw-light.text-center © Code with SadiQ, All rights reserved