nav.navbar.navbar-expand-lg.navbar-dark.py-1.h-14.bg-gradient-to-r.from-violet-500.to-fuchsia-500.bg-primary.sticky-top
    .container.px-3
        a.navbar-brand(href="/") CWS
        ul.navbar-nav 
            li.nav-item
                a.nav-link(href="/") Home 
            li.nav-item
                a.nav-link(href="") About 
            li.nav-item
                a.nav-link(href="") Course
            li.nav-item
                a.btn.btn-danger(href="/apply") Apply for Admission  